In [1]:
import pandas as pd
import warnings

warnings.filterwarnings("ignore", category=FutureWarning)

In [2]:
from src.preprocess_data.county_level.CountyDataLoader import CountyDataLoader

# Initialize the CountyDataLoader
county_data_loader = CountyDataLoader()
# Load the data
data = county_data_loader.load_data()

data

Root directory set to: /Users/jack/Documents/Projects/Power-Lab/Solar NIMBY/Solar-NIMBY-Analysis

/Users/jack/anaconda3/envs/PowerLab/lib/python3.9/site-packages/pyogrio/raw.py:196: RuntimeWarning: driver ESRI Shapefile does not support open option DTYPE
  return ogr_read(
/Users/jack/Documents/Projects/Power-Lab/Solar NIMBY/Solar-NIMBY-Analysis/src/preprocess_data/county_level/processors/demographic_processors.py:324: DtypeWarning: Columns (2,3,4,5,6,8,10,12,14,16,17,18,19,20,22,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,44,46,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,64,65,66,67,68,69,70,71,72,73,78,79,80,81,90,91,92,93,94,95,112,113,114,115,116,117,118,119,128,129,132,133,136,137,142,143,148,149,150,151,160,161,162,163,164,165,182,183,184,185,186,187,188,189,198,199,202,203,206,207,212,213,220,221,234,235,252,253,254,255,256,257,268,269,272,273,276,277) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(data_file_path)
/Users/jack/Documents/Projects/Power-Lab/Solar NIMBY/Solar-NIMBY-Analysis/src/preprocess_data/county_level/processors/demographic_processors.py:19: DtypeWarning: Columns (2,4,5,6,7,8,9,10,11,12,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,34,35,36,37,38,40,41,42,43,44,46,47,48,49,50,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,106,107,108,109,118,119,122,123,124,125,132,133,134,135,136,137,138,139,142,143,144,145,146,147,148,149,150,151,152,153,154,155,156,157,158,159,162,163,164,165,168,169,170,171,174,175,176,177,180,181,182,183,186,187,188,189,192,193,194,195,222,223,224,225,228,229,230,231,234,235,236,237,238,239,240,241,242,243,244,245,258,260,261,262,263,264,265,266,267,268,270,271,272,273,274,275,276,277,278,279,280,281,282,283,284,285,286,287,288,290,291,292,293,294,296,297,298,299,300,302,303,304,305,306,308,309,310,311,312,313,314,315,316,317,318,319,320,321,322,323,324,325,326,327,328,329,330,331,332,333,334,335,336,337,338,339,340,341,342,343,344,345,346,347,348,349,350,351,352,353,354,355,356,357,358,359,360,362,363,364,365,374,375,378,379,380,381,388,389,390,391,392,393,394,395,398,399,400,401,402,403,404,405,406,407,408,409,410,411,412,413,414,415,418,419,420,421,424,425,426,427,430,431,432,433,436,437,438,439,442,443,444,445,448,449,450,451,484,485,486,487,490,491,492,493,494,495,496,497,498,499,500,501,514,516,517,518,519,520,521,522,523,524,526,527,528,529,530,531,532,533,534,535,536,537,538,539,540,541,542,543,544,546,547,548,549,550,552,553,554,555,556,558,559,560,561,562,564,565,566,567,568,569,570,571,572,573,574,575,576,577,578,579,580,581,582,583,584,585,586,587,588,589,590,591,592,593,594,595,596,597,598,599,600,601,602,603,604,605,606,607,608,609,610,611,612,613,614,615,616,618,619,620,621,630,631,644,645,646,647,648,649,650,651,654,655,656,657,658,659,660,661,662,663,664,665,666,667,668,669,670,671,674,675,676,677,680,681,682,683,686,687,688,689,692,693,694,695,698,699,700,701,704,705,706,707,740,741,742,743,746,747,748,749,750,751,752,753,754,755,756,757) have mixed types. Specify dtype option on import or set low_memory=False.
  raw_education_data = pd.read_csv(data_file_path)
/Users/jack/Documents/Projects/Power-Lab/Solar NIMBY/Solar-NIMBY-Analysis/src/preprocess_data/county_level/processors/demographic_processors.py:19: DtypeWarning: Columns (2,4,5,6,7,8,9,10,11,12,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,34,35,36,37,38,40,41,42,43,44,46,47,48,49,50,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,106,107,108,109,118,119,122,123,124,125,132,133,134,135,136,137,138,139,142,143,144,145,146,147,148,149,150,151,152,153,154,155,156,157,158,159,162,163,164,165,168,169,170,171,174,175,176,177,180,181,182,183,186,187,188,189,192,193,194,195,222,223,224,225,228,229,230,231,234,235,236,237,238,239,240,241,242,243,244,245,258,260,261,262,263,264,265,266,267,268,270,271,272,273,274,275,276,277,278,279,280,281,282,283,284,285,286,287,288,290,291,292,293,294,296,297,298,299,300,302,303,304,305,306,308,309,310,311,312,313,314,315,316,317,318,319,320,321,322,323,324,325,326,327,328,329,330,331,332,333,334,335,336,337,338,339,340,341,342,343,344,345,346,347,348,349,350,351,352,353,354,355,356,357,358,359,360,362,363,364,365,374,375,378,379,380,381,388,389,390,391,392,393,394,395,398,399,400,401,402,403,404,405,406,407,408,409,410,411,412,413,414,415,418,419,420,421,424,425,426,427,430,431,432,433,436,437,438,439,442,443,444,445,448,449,450,451,484,485,486,487,490,491,492,493,494,495,496,497,498,499,500,501,514,516,517,518,519,520,521,522,523,524,526,527,528,529,530,531,532,533,534,535,536,537,538,539,540,541,542,543,544,546,547,548,549,550,552,553,554,555,556,558,559,560,561,562,564,565,566,567,568,569,570,571,572,573,574,575,576,577,578,579,580,581,582,583,584,585,586,587,588,589,590,591,592,593,594,595,596,597,598,599,600,601,602,603,604,605,606,607,608,609,610,611,612,613,614,615,616,618,619,620,621,630,631,644,645,646,647,648,649,650,651,654,655,656,657,658,659,660,661,662,663,664,665,666,667,668,669,670,671,674,675,676,677,680,681,682,683,686,687,688,689,692,693,694,695,698,699,700,701,704,705,706,707,740,741,742,743,746,747,748,749,750,751,752,753,754,755,756,757) have mixed types. Specify dtype option on import or set low_memory=False.
  raw_education_data = pd.read_csv(data_file_path)

,GEOID,STATEFP,COUNTYFP,State,County Name,area km2,area mi2,Wind Capacity Intensity (MW/ 1000 sq mile),Wind Project Intensity (Projects/ 1000 sq mile),Wind Avg Capacity Intensity (MW/ 1000 sq mile),...,25+ High school graduate,"25+ Some college, no degree",25+ Associate's degree,25+ Bachelor's degree,25+ Graduate or professional degree,25+ High school graduate or higher,25+ Bachelor's degree or higher,Electric Commercial Rate,Electric Industrial Rate,Electric Residential Rate
4,01001,01,001,Alabama,Autauga,1565.322757,604.374247,NaN,NaN,NaN,...,32.8,19.6,9.1,16.4,11.7,89.6,28.1,0.121895,0.063652,0.135057
5,01003,01,003,Alabama,Baldwin,4352.548564,1680.527706,NaN,NaN,NaN,...,27.4,21.7,9.5,20.6,11.8,91.0,32.5,0.121895,0.063652,0.135057
6,01005,01,005,Alabama,Barbour,2342.545642,904.461557,NaN,NaN,NaN,...,36.7,20.5,7.3,6.7,4.4,75.7,11.2,0.121895,0.063652,0.135057
7,01007,01,007,Alabama,Bibb,1622.295670,626.371603,NaN,NaN,NaN,...,43.9,18.0,6.7,7.9,4.0,80.5,11.9,0.121895,0.063652,0.135057
8,01009,01,009,Alabama,Blount,1685.098070,650.619735,NaN,NaN,NaN,...,35.1,21.5,12.1,9.3,5.6,83.6,14.9,0.121895,0.063652,0.135057
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3209,56037,56,037,Wyoming,Sweetwater,27171.758878,10491.070446,NaN,NaN,NaN,...,32.6,26.2,14.5,12.4,7.0,92.7,19.4,0.088561,0.064577,0.107892
3210,56039,56,039,Wyoming,Teton,10923.817833,4217.707913,NaN,NaN,NaN,...,16.9,17.9,3.3,38.3,19.6,96.0,57.9,0.137874,0.016144,0.119245
3211,56041,56,041,Wyoming,Uinta,5408.110370,2088.082230,135.626843,1.436725,45.208948,...,36.4,27.3,11.9,12.3,5.6,93.6,18.0,0.088561,0.064577,0.107892
3212,56043,56,043,Wyoming,Washakie,5808.472530,2242.662861,NaN,NaN,NaN,...,25.7,29.5,12.8,17.2,8.9,94.1,26.2,0.088561,0.064577,0.107892
3213,56045,56,045,Wyoming,Weston,6212.983149,2398.845220,NaN,NaN,NaN,...,37.3,23.6,13.6,13.9,4.5,92.9,18.4,0.128103,0.088417,0.127541

In [5]:
from src.preprocess_data.block_group_level.processors.demographic_processors import (
    process_raw_race_data,
    process_raw_education_data,
    process_raw_unemployment_data
)

race = process_raw_race_data("/Users/jack/Documents/Projects/Power-Lab/Solar NIMBY/Solar-NIMBY-Analysis/data/social_factors/block_group_level/demographic_data/race_raw.csv")

# education = process_raw_education_data("/Users/jack/Documents/Projects/Power-Lab/Solar NIMBY/Solar-NIMBY-Analysis/data/social_factors/block_group_level/demographic_data/education_raw.csv")

# unemployment = process_raw_unemployment_data("/Users/jack/Documents/Projects/Power-Lab/Solar NIMBY/Solar-NIMBY-Analysis/data/social_factors/block_group_level/demographic_data/unemployment_raw.csv")

In [4]:
from src.preprocess_data.block_group_level.processors.economic_processors import (
    process_raw_income_data,
)

income = process_raw_income_data("/Users/jack/Documents/Projects/Power-Lab/Solar NIMBY/Solar-NIMBY-Analysis/data/social_factors/block_group_level/economic_data/income_raw.csv")

In [2]:
from src.preprocess_data.block_group_level.processors.political_processors import (
    process_raw_election_data,
)

election = process_raw_election_data(
    data_file_path="/Users/jack/Documents/Projects/Power-Lab/Solar NIMBY/Solar-NIMBY-Analysis/data/social_factors/block_group_level/political_data/election_raw.csv",
)

In [ ]:

from src.preprocess_data.block_group_level.processors.energy_processors import (
    process_raw_solar_data,
)

solar = process_raw_solar_data(
    data_file_path="/Users/jack/Documents/Projects/Power-Lab/Solar NIMBY/Solar-NIMBY-Analysis/data/electric_data/solar/solar_raw_block_group.csv", 
    raw_bounding_box_filepath="/Users/jack/Documents/Projects/Power-Lab/Solar NIMBY/Solar-NIMBY-Analysis/data/bounding_boxes/block_group_bounding_box_raw"
)

In [3]:
race.head()

,State,County,Tract,Block Group,State Name,County Name,Total Population,Total One Race,White Only,African American Only,American Indian and Alaska Native Only,Asian Only,Native Hawaiian and Other Pacific Islander Only,Others Only,Total Mixed Race
0,01,001,020100,1,None,None,575,523,433,73,0,5,0,12,52
1,01,001,020100,2,None,None,1200,1130,956,140,5,3,3,23,70
2,01,001,020200,1,None,None,974,942,311,615,2,7,0,7,32
3,01,001,020200,2,None,None,1081,1042,531,489,0,5,4,13,39
4,01,001,020300,1,None,None,2377,2243,1672,499,12,13,3,44,134

In [1]:
from src.preprocess_data.block_group_level.BlockGroupDataLoader import BlockGroupDataLoader

# Initialize the BlockGroupDataLoader
block_group_data_loader = BlockGroupDataLoader()
# Load the data
data = block_group_data_loader.load_data()

data

Root directory set to: /Users/jack/Documents/Projects/Power-Lab/Solar NIMBY/Solar-NIMBY-Analysis

/Users/jack/anaconda3/envs/PowerLab/lib/python3.9/site-packages/pyogrio/raw.py:196: RuntimeWarning: driver ESRI Shapefile does not support open option DTYPE
  return ogr_read(

✓ Loaded race data
✓ Loaded education data
✓ Loaded unemployment data
✓ Loaded income data
✓ Loaded election data

/Users/jack/anaconda3/envs/PowerLab/lib/python3.9/site-packages/pyogrio/raw.py:196: RuntimeWarning: driver ESRI Shapefile does not support open option DTYPE
  return ogr_read(
/Users/jack/anaconda3/envs/PowerLab/lib/python3.9/site-packages/geopandas/geodataframe.py:1819: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  super().__setitem__(key, value)
/Users/jack/anaconda3/envs/PowerLab/lib/python3.9/site-packages/geopandas/geodataframe.py:1819: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  super().__setitem__(key, value)

✓ Loaded solar data
Final dataset shape: (285382, 61)

,GEOID,State,County,Tract,Block Group,State Name,County Name,area km2,area mi2,State Name_race,...,area_km2,area_mi2,State Name_solar,County Name_solar,solar_mw_mean_per_km2,solar_mw_mean_per_mi2,solar_mw_sum_per_km2,solar_mw_sum_per_mi2,solar_mw_count_per_km2,solar_mw_count_per_mi2
0,010010201001,01,001,020100,1,Alabama,Autauga,4.310095,1.664136,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,010010201002,01,001,020100,2,Alabama,Autauga,5.569470,2.150383,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,010010202001,01,001,020200,1,Alabama,Autauga,2.055680,0.793702,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,010010202002,01,001,020200,2,Alabama,Autauga,1.276167,0.492730,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,010010203001,01,001,020300,1,Alabama,Autauga,3.904364,1.507483,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
285377,NaN,72,153,750601,1,NaN,NaN,NaN,NaN,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
285378,NaN,72,153,750601,2,NaN,NaN,NaN,NaN,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
285379,NaN,72,153,750601,3,NaN,NaN,NaN,NaN,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
285380,NaN,72,153,750602,1,NaN,NaN,NaN,NaN,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
285381,NaN,72,153,750602,2,NaN,NaN,NaN,NaN,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN